body, html {
  margin: 0;
  padding: 0;
  font-family:'GILL SANS', sans-serif;
  background-color: #7b817d;
  color: #f6fdf4;
}

.welcome-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 17px;
  background-color: #00000085;
  padding: 20px 0 20px 40px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -70px;

}
.logo-container img {
  width: 60px;
  height: auto;
  margin-right: 95px;
  margin-top: 10px;

}

.contact-info {
  font-size: 1rem;
  padding: 0;
}
.contact-link {
  font-weight: 400;
  color: #eceaea;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  
}
.contact-link:hover {
  text-decoration: underline;
  color: #07b22c;
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  color: #40e40e;
  transition: color 0.3s ease;
}
.contact-icon:hover {
  color: #7aef94;
  transform: scale(1.6);
  transition: transform 0.2s ease;
}

.illustration {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
  opacity: 0.8;
}

button {
  background-color: #a5f2b6;
  color: #080808;
  border: 2px solid #111211;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.38);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3F8F50;
}

input {
  background-color: #1A2A1F;
  color: #e5F5E0;
  border: 1px solid #4C7A5A;
  padding: 10px;
  border-radius: 5px;
}

.welcome-screen,
.step-card {
  padding: 45px 20px;
  text-align: center;
}

.welcome-screen h1 {
  color: #f4f7f5;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  
}
.welcome-screen p {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.step-card {
  padding: 30px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.step-card input,
.step-card select {
  width: 100%;
  max-width: 300px;
  padding: 12px 15px;
  border: 1px solid #66bb6a;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.step-card select {
  background-color: #1A2A1F;
  color: #e5f5e0a9;
  text-align: left;
  max-width: 330px;
}

.step-controls {
  margin-top: 20px;
}

.step-controls button {
  background-color: #3e8e41;
  color: #e5F5E0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}
.step-controls button:hover {
  background-color: #2a6f2b;
}
.step-controls button:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.multiselect-box {
  width: 100%;
  max-width: 300px;
  padding: 12px 15px;
  border: 1px solid #66bb6a;
  border-radius: 8px;
  background-color: #1A2A1F;
  color: #e5f5e0a9;
  margin-left: 49px;
  margin-top: 15px;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: left;

}

.multiselect-box:hover {
  background-color: #2a2e2c;
}
.multiselect-box:focus {
  outline: none;
  border-color: #66bb6a;
}

.dropdown-icon {
  margin-left: 30px;
  margin-right: 0;
  color: #e5f5e0a9;
  pointer-events: none;
}
.multiselect-box:hover .dropdown-icon {
  color: #e5f5e0;
}

.dropdown-options {
  position: absolute;
  background-color: #1A2A1F;
  border: 1px solid #66bb6a;
  border-radius: 8px;
  overflow-y: auto;
  font-size: 0.8rem;
  z-index: 1000;
  width: 100%;
  max-width: 400px;
  text-align: left;
  padding: 10px;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
  border: 1px solid #66bb6a;
  border-radius: 4px;
  background-color: #1A2A1F;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
  margin: 5px 10px;
  outline: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
}

input[type="checkbox"]:checked {
  background-color: #66bb6a;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: #1A2A1F;
  border-radius: 2px;
}
input[type="checkbox"]:checked::before {
  background-color: #e5F5E0;
}
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #66bb6a;
  border-radius: 4px;
}
input[type="checkbox"]:checked::after {
  content: '✓';
  color: #1A2A1F;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
}
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(102, 187, 106, 0.5);
}
input[type="checkbox"]:hover {
  border-color: #66bb6a;
  background-color: #2a2e2c;
}
input[type="checkbox"]:hover::before {
  background-color: #e5F5E0;
}
input[type="checkbox"]:hover::after {
  background-color: #66bb6a;
}
input[type="checkbox"]:checked:hover {
  background-color: #66bb6a;
}
input[type="checkbox"]:checked:hover::before {
  background-color: #e5F5E0;
}
input[type="checkbox"]:checked:hover::after {
  background-color: #66bb6a;
}
input[type="checkbox"]:disabled {
  background-color: #444a46;
  border-color: #666;
  cursor: not-allowed;
}
input[type="checkbox"]:disabled::before {
  background-color: #666;
}
input[type="checkbox"]:disabled::after {
  background-color: #444a46;
  content: '';
}

.tag {
  display: inline-block;
  background-color: #3e8e41;
  color: #e5F5E0;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px;
  font-size: 14px;
}

.floating-btn {
  position: fixed;
  bottom: 45px;
  right: 20px;
  background-color: #108a1484;
  color: #ebf1ea;
  border: none;
  padding: 15px;
  border-radius: 20%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  cursor: pointer;
}

.floating-btn:hover {
  background-color: #0f7c1284;
  transform: scale(1.1);
  transition: transform 0.2s ease, background-color 0.3s ease;
}
.floating-btn:active {
  background-color: #0f7c1284;
  transform: scale(1);
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 5px;
  background-color: #2a2e2c;
  color: #e5f5e0cf;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #a5f2b6bd;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer p {
  margin: 5px;
}

.fmcsa {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
}
.fmcsa-logo {
  width: 100%;
  max-width: 50px;
  height: auto;
  padding: 10px;
}

.fmcsa img {
  width: 70%;
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}

.fmcsa ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.fmcsa li {
  margin: 5px 0;
}

.about-container {
  margin: 80px 20px;
  padding: 10px 20px;
  background-color: #2a2e2c64;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.about-container h2 {
  color: #e6ece5;
  text-align: center;
}
.about-container p {
  color: #f2f3f2;
  font-size: 1rem;
  line-height: 1.6;
}
.about-container a {
  color: #a5f2b6bd;
  text-decoration: none;
}
.about-container a:hover {
  text-decoration: underline;
}

.about-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-container li {
  margin: 5px 0;
  color: #f2f3f2;
}
.about-container li a {
  color: #a5f2b6bd;
  text-decoration: none;
}
.about-container li a:hover {
  text-decoration: underline;
}

.partners-container {
  margin: 80px 20px;
  padding: 10px 20px;
  background-color: #2a2e2c64;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.partners-container h2 {
  color: #e6ece5;
  text-align: center;
}
.partners-container p {
  color: #f2f3f2;
  font-size: 1rem;
  line-height: 1.6;
}
.partners-container a {
  color: #a5f2b6bd;
  text-decoration: none;
}
.partners-container a:hover {
  text-decoration: underline;
}
.partners-container ul li {
  margin-bottom: 10px;
}

.support-container {
  margin: 80px 20px;
  padding: 10px 20px;
  background-color: #2a2e2c64;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.support-container h2 {
  color: #e6ece5;
  text-align: center;
}
.support-container p {
  color: #f2f3f2;
  font-size: 1rem;
  line-height: 1.6;
}
.support-container a {
  color: #a5f2b6bd;
  text-decoration: none;
}
.support-container a:hover {
  text-decoration: underline;
}
.support-container ul li{
  margin-bottom: 10px;
}

.faq-container {
  margin: 80px 20px;
  padding: 10px 20px;
  background-color: #2a2e2c64;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.faq-container h2 {
  color: #e6ece5;
  text-align: center;
}
.faq-container p {
  color: #f2f3f2;
  font-size: 1rem;
  line-height: 1.6;
}

.faq-item {
  margin-bottom: 15px;
}
.faq-item h3 {
  color: #a5f2b6bd;
  cursor: pointer;
  margin-bottom: 5px;
}
.faq-item h3:hover {
  text-decoration: underline;
}
.faq-item p {
  color: #f2f3f2;
  font-size: 0.9rem;
  margin: 0;
}
.faq-item p.hidden {
  display: none;
}
.faq-item p.visible {
  display: block;
}
.faq-item p.visible {
  color: #f2f3f2;
  font-size: 0.9rem;
  margin: 0;
}
.faq-item a {
  color: #a5f2b6bd;
  text-decoration: none;
}
.faq-item a:hover {
  text-decoration: underline;
}